<html>
  <head>
  <link href="style.css" rel="stylesheet" type="text/css">
  <title><%=@title%> </title>
  </head>
<body>
  <h1> Songs by Sinatra </h1>

  <img src="sinatra.jpg" alt="sinatra" width=100%>

<ul>
<li><a href="/home">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/songs">All Songs</a></li>
</ul>

<%= yield %>

</body>
</html>
